<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/jquery.min.js') }}">
  <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-4">
              <div class="card">
                  <img class="card-img-top" src="" alt="">
                  <div class="card-body">
                    <div class="card-body"style="width: 40rem; background-color: lightgrey">
                      <h3 class="text-success">Login</h3><br>
                        <form action="/process" method="POST">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="disabledTextInput" class="form_label">First Name</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="first_name" placeholder="First Name">
                                <label for="disabledTextInput" class="form_label">Last Name</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="last_name" placeholder="Last Name">
                                <label for="disabledTextInput" class="form_label">Email</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="email" placeholder="Email">
                                <label for="disabledTextInput" class="form_label">Password</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="password" placeholder="Password">
                                <label for="disabledTextInput" class="form_label">Confirm Password</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="confirm_password" placeholder="Confirm Password">
                              </div> 
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
          </div>
          <div class="col-lg-6 mb-4">
              <div class="card">
                  <img class="card-img-top" src="" alt="">
                  <div class="card-body">
                    <div class="card-body"style="width: 40rem; background-color: lightgrey">
                      <h3 class="text-success">Login</h3><br>
                        <form action="/process" method="POST">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="disabledTextInput" class="form_label">Email</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="email" placeholder="Email">
                                <label for="disabledTextInput" class="form_label">Password</label>
                                <input type="text" class="form-control" id="disabledTextInput" name="password" placeholder="Password">
                              </div> 
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>


<body >

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Register</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-3">
    <div class="card">
      
  </div><br>

  <footer class="container-fluid text-center">
    <p>Register</p>
  </footer>

</body>

</html>